body {
  text-align: center;
  background-color: #AFD3E2;
  margin: 0;
}

footer {
  background-color: #19A7CE;
  margin-bottom: 0;
}

p {
  color: #084657;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: right;
  padding-right: 2%;
  margin-bottom: 0;
  padding-top: 2%;
  padding-bottom: 1%;
}

p:hover {
  color: #E5F9DB;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3% auto 0;
  color: #146C94;
}

.container {
  display: block;
  width: 50%;
  margin: 5px auto 0;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 190px;
  width: 190px;
  border: 10px solid #6db0cf;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: lime;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: #F0FF42;
}

.pressed {
  box-shadow: 0 0 20px goldenrod;
  background-color: #A2A378;
}


@media (max-width: 1024px) {
  p {
    font-size: 2.5rem;
    padding: 20%;
  }
}
